* @ddavid07
/packages/verifactu/ @ddavid07
/packages/cli/ @ddavid07
/regulatory/ @ddavid07
/security/ @ddavid07
/.github/ @ddavid07
/scripts/ @ddavid07
/docs/02-legalidad/ @ddavid07
/docs/08-seguridad/ @ddavid07
/LICENSE @ddavid07
/NOTICE @ddavid07
